@charset "UTF-8";

/* Versão mobile */

/* configuraçoes gerais */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

/* Botão subir */
div#but{
    display: inline;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.459);
    cursor: pointer;
    
    position: absolute;
    bottom: 30px;
    right: 30px;
    position: fixed;
}

div#but > a{
    text-decoration: none;
}

div#but > a > button{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    color: white;
}

/* Cabecalho */
header{
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

header, menu{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;

    column-gap: 25px;
}

header > h1{
    font-size: 2.5em;
}

menu > div a{
    font-size: 1.3em;
    text-decoration: none;
    color: red;
}

menu > div a:hover{
    text-decoration: underline;
}

/* Sessão banner 1 */
div#banner1{
    width: 100%;
    height: 60%;
    background-color: gray;
    background-image: url('../imagems/jirau.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Sessão Principal */
main{
    width: 90%;
    margin: auto;
    padding: 40px;
}

/* Sessão Hidro */
section#hidro{
    margin: auto;
    background-color: lightgreen;
}

section#hidro h2{
    padding: 20px;
}

section#hidro > article{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#hidro > article p{
    padding: 10px;
    font-size: 1.2em;
}

section#hidro img{
    height: 280px;
    width: 280px;
    object-fit: cover;
}